{% extends "App_SistemaGestionInventario/instructor_contratista/base_instructor_contrato.html" %}

{% load static %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'App_SistemaGestionInventario/css/calendario_contrato_style.css' %}">
    {% endblock css %}


{% block content %}

        <main>
            <h1>Calendario Interactivo</h1>
            <div class="contendor-principal">
                <!-- Formulario para filtrar materiales -->
                <div class="formulario-crear-material" id="crear-materialForm">     
                    
                    <div class="filtro">
                        <br>
                        <label for="fecha">Fecha:</label>
                        <input type="month" id="fecha" value="2023-01">
                        <button onclick="generarCalendario()">Generar Calendario</button>
                    </div>

                    <div class="contenido">
                        
                        <div class="contenedor-calendario-ventana" id="contenedorCalendario"></div>

                        <div class="ventana">
                            
                            <div class="contenedor-tipos"> 
                                <div class="circulo active"></div>
                                <h6>Consumibles</h6>                    
                            </div>
                            <div class="contenedor-tipos"> 
                                <div class="circulo inactive"></div>
                                <h6>Devolutivos</h6>                        
                            </div>
                            <button class="boton-filtro">Registrar Préstamo</button>
                        </div>
                        
                    </div>
                </div>  
            </div>   

        <br>
        </main>

        <script src="{% static "App_SistemaGestionInventario/js/calendario_contrato_script.js" %}"></script>

{% endblock content %}



