@font-face {
    font-family: 'Myriad Pro Regular' ;
    src: url(../../tipografia/MyriadProRegular/Myriad\ Pro\ Regular.ttf);
}


:root{
    --white: #fc7323;
    --green: #229395;
    --green-light: #b9b9b9;
    --black: #808080;
    --grey: #ffffff;
    --violet:#A830C6;
    --red:#fc7323;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

main{
    padding: 20px;
}

a{
    text-decoration: none;
}

.flecha img{
    margin-top: 20px;
    width: 3em;
    height: 3em;
    margin-left: 30px;
}

.flecha{
    position: absolute;
}


ul{
    
    list-style: none;
}

/* HEADER - NAVBAR*/

.header{
    background-color: #9b9b9b3d;
    box-shadow: 1px 1px 5px 0px #00324d;
    position: relative;
    height: 17vh;
    top: 0;
    padding: 10px;
    width: 100%;
}

.header .logo{
    cursor: pointer;
    margin-left: 5%;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
    margin: 10px 7px 7px 7px;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00324d;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a{
    display: block;
    padding: 30px;
    color: var(--black);
    font-weight: 600;
}

.menu a:hover{
    background-color: var(--green-light);
}

.menham{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.l-hamb{
    background: #00324d;
    display: block;
    height: 2px;
    position: relative;
    width: 22px;
}

.l-hamb::before,
.l-hamb::after{
    background: #00324d;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.l-hamb::before{
    top: 5px;
}

.l-hamb::after{
    top: -5px;
}

.side-menu{
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .menham .l-hamb{
    background: transparent;
}

.side-menu:checked ~ .menham .l-hamb::before{
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .menham .l-hamb::after{
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 768px){
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: #00324d;
    }

    .menham{
        display: none;
    }
}

/* MAIN / BODY */

.logo-funcion-usuario-noti{
    height: 100%;
    width: 50px;
    background-image: url(../img/notificacion512px.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.logo-funcion-usuario-usu{
    height: 100%;
    width: 50px;
    background-image: url(../img/usuario512px.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

/* FOOTER */

footer{
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(155, 155, 155, 24%);
    color:#000000;
    border-top:  #00324d ;
    box-shadow: 1px 1px 9px 0px #00324d;
}

.contenedor-copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.contenedor-footer{
    text-align: center;
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(155, 155, 155, 24%)
}

.contenedor-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .nombre-sena{
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.contenedor-redes{
    padding: 17px;
}

.titulo-redes-sociales{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.redes-sociales-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.link-social{
    height: 100%;
    width: 30px;
    background-image: url(../img/footer/facebook512px.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.link-social:hover{
    opacity: 0.7;
}

footer .link-social:nth-of-type(2){
    background-image: url(../img/footer/instagram512px.png);
}

footer .link-social:nth-of-type(3){
    background-image: url(../img/footer/linkedin512px.png);
}

footer .link-social:nth-of-type(4){
    background-image: url(../img/footer/tiktok512px.png);
}

footer .link-social:nth-of-type(5){
    background-image: url(../img/footer/twitter512px.png);
}

footer .link-social:nth-of-type(6){
    background-image: url(../img/footer/whatsapp512px.png);
}

@media (max-width: 850px){
    .contenedor-footer{
        padding: 2rem;
        flex-direction: column;
    }

    .contenedor-info{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid var(--negro-claro);
        justify-content: center;
        align-items: center;
    }

    .contenedor-info:nth-of-type(1){
        align-items: flex-start;
    }

    .contenedor-info:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }
}